.pagination{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    margin:30px 0;
}

.page{
    display:flex;
    align-items:center;
    justify-content:center;
    width:38px;
    height:38px;

    border:1px solid #4CAF50;
    border-radius:8px;

    text-decoration:none;
    color:#4CAF50;
    background:#fff;

    font-weight:600;
    transition:0.2s;
}

.page:hover{
    background:#4CAF50;
    color:#fff;
}

.page.active{
    background:#4CAF50;
    color:#fff;
    cursor:default;
}